In [1]:
%run imports.py

In [2]:
import tushare as ts

In [3]:
df = ts.get_k_data(code='002703', start='2016-10-01', end='2016-11-12')

In [4]:
df['zf-as-last-close'] = \
[((float(df['high'][i]) - float(df['low'][i])) / float(df['close'][i-1]) * 100) if i > 0 else 0 for i in range(16)]
df

,date,open,close,high,low,volume,code,zf-as-last-close
0,2016-10-10,41.90,42.37,42.67,40.72,131535.00,002703,0.000000
1,2016-10-24,44.30,46.61,46.61,43.48,259546.00,002703,7.387302
2,2016-10-25,47.00,45.29,49.49,45.22,338277.00,002703,9.161124
3,2016-10-26,44.14,43.84,45.28,43.09,187876.00,002703,4.835505
4,2016-10-27,43.73,46.60,46.86,43.21,182364.00,002703,8.325730
5,2016-10-28,46.23,47.95,48.97,45.76,300722.00,002703,6.888412
6,2016-10-31,47.01,46.63,48.37,45.00,173572.00,002703,7.028154
7,2016-11-01,46.16,47.15,48.20,46.16,162302.00,002703,4.374866
8,2016-11-02,46.80,51.02,51.87,46.18,374709.00,002703,12.067869
9,2016-11-03,50.10,50.15,52.38,49.50,326448.00,002703,5.644845
10,2016-11-04,49.50,50.89,53.03,49.50,258634.00,002703,7.038883
11,2016-11-07,50.00,51.41,51.41,48.18,171352.00,002703,6.347023
12,2016-11-08,51.80,50.02,52.86,50.00,161028.00,002703,5.563120
13,2016-11-09,49.13,48.15,49.97,46.86,152493.00,002703,6.217513
14,2016-11-10,49.25,50.56,50.65,48.14,145415.00,002703,5.212876
15,2016-11-11,51.24,49.90,51.97,49.66,175428.00,002703,4.568829

In [5]:
codes = \
{'01-----上指': 'sh', '02-----深指': 'sz', '03-----创指': 'cyb', '10--创业板B': '150153', '11--网金融B': '150332', '12--互联网B': '150195', '13----煤炭B': '150290', '14----钢铁B': '150228', '15----有色B': '150197', '16----白酒B': '150270', '17----食品B': '150199', '18----医药B': '150131', '19----证券B': '150172', '1A--房地产B': '150118', '1B--国企改B': '150210', '1C--新能车B': '150212', '1D----国防B': '150206', '20-中信证券': '600030', '21-海通证券': '600837', '22-西部证券': '002673', '23-第一创业': '002797', '2A----万科A': '000002', '2B-保利地产': '600048', '2C---雅戈尔': '600177', '2D-小商品城': '600415', '30-网宿科技': '300017', '31---乐视网': '300104', '32---欧菲光': '002456', '33-苏宁云商': '002024', '3A-恒生电子': '600570', '3B-绵石投资': '000609', '3C-东吴证券': '601555', '3D---世联行': '002285', '3E-东方财富': '300059', '40-汇金股份': '300368', '41---同花顺': '300033'}

In [6]:
codese = Series(codes)

In [7]:
codese

01-----上指        sh
02-----深指        sz
03-----创指       cyb
10--创业板B     150153
11--网金融B     150332
12--互联网B     150195
13----煤炭B    150290
14----钢铁B    150228
15----有色B    150197
16----白酒B    150270
17----食品B    150199
18----医药B    150131
19----证券B    150172
1A--房地产B     150118
1B--国企改B     150210
1C--新能车B     150212
1D----国防B    150206
20-中信证券      600030
21-海通证券      600837
22-西部证券      002673
23-第一创业      002797
2A----万科A    000002
2B-保利地产      600048
2C---雅戈尔     600177
2D-小商品城      600415
30-网宿科技      300017
31---乐视网     300104
32---欧菲光     002456
33-苏宁云商      002024
3A-恒生电子      600570
3B-绵石投资      000609
3C-东吴证券      601555
3D---世联行     002285
3E-东方财富      300059
40-汇金股份      300368
41---同花顺     300033
dtype: object

In [10]:
codedf = DataFrame([codese.index, codese])

In [13]:
codedf.T

            0       1
0   01-----上指      sh
1   02-----深指      sz
2   03-----创指     cyb
3    10--创业板B  150153
4    11--网金融B  150332
5    12--互联网B  150195
6   13----煤炭B  150290
7   14----钢铁B  150228
8   15----有色B  150197
9   16----白酒B  150270
10  17----食品B  150199
11  18----医药B  150131
12  19----证券B  150172
13   1A--房地产B  150118
14   1B--国企改B  150210
15   1C--新能车B  150212
16  1D----国防B  150206
17    20-中信证券  600030
18    21-海通证券  600837
19    22-西部证券  002673
20    23-第一创业  002797
21  2A----万科A  000002
22    2B-保利地产  600048
23   2C---雅戈尔  600177
24    2D-小商品城  600415
25    30-网宿科技  300017
26   31---乐视网  300104
27   32---欧菲光  002456
28    33-苏宁云商  002024
29    3A-恒生电子  600570
30    3B-绵石投资  000609
31    3C-东吴证券  601555
32   3D---世联行  002285
33    3E-东方财富  300059
34    40-汇金股份  300368
35   41---同花顺  300033