In [32]:
%run imports.py

In [33]:
import tushare as ts

In [34]:
df = ts.get_k_data(code='002703', start='2016-10-01', end='2016-11-12')

In [35]:
df['zf-as-last-close'] = \
[((float(df['high'][i]) - float(df['low'][i])) / float(df['close'][i-1]) * 100) if i > 0 else 0 for i in range(16)]
df

,date,open,close,high,low,volume,code,zf-as-last-close
0,2016-10-10,41.900,42.370,42.670,40.720,131535.000,002703,0.000000
1,2016-10-24,44.300,46.610,46.610,43.480,259546.000,002703,7.387302
2,2016-10-25,47.000,45.290,49.490,45.220,338277.000,002703,9.161124
3,2016-10-26,44.140,43.840,45.280,43.090,187876.000,002703,4.835505
4,2016-10-27,43.730,46.600,46.860,43.210,182364.000,002703,8.325730
5,2016-10-28,46.230,47.950,48.970,45.760,300722.000,002703,6.888412
6,2016-10-31,47.010,46.630,48.370,45.000,173572.000,002703,7.028154
7,2016-11-01,46.160,47.150,48.200,46.160,162302.000,002703,4.374866
8,2016-11-02,46.800,51.020,51.870,46.180,374709.000,002703,12.067869
9,2016-11-03,50.100,50.150,52.380,49.500,326448.000,002703,5.644845
10,2016-11-04,49.500,50.890,53.030,49.500,258634.000,002703,7.038883
11,2016-11-07,50.000,51.410,51.410,48.180,171352.000,002703,6.347023
12,2016-11-08,51.800,50.020,52.860,50.000,161028.000,002703,5.563120
13,2016-11-09,49.130,48.150,49.970,46.860,152493.000,002703,6.217513
14,2016-11-10,49.250,50.560,50.650,48.140,145415.000,002703,5.212876
15,2016-11-11,51.240,49.900,51.970,49.660,175428.000,002703,4.568829

In [36]:
codes = \
{'01-----上指': 'sh', '02-----深指': 'sz', '03-----创指': 'cyb', '10--创业板B': '150153', '11--网金融B': '150332', '12--互联网B': '150195', '13----煤炭B': '150290', '14----钢铁B': '150228', '15----有色B': '150197', '16----白酒B': '150270', '17----食品B': '150199', '18----医药B': '150131', '19----证券B': '150172', '1A--房地产B': '150118', '1B--国企改B': '150210', '1C--新能车B': '150212', '1D----国防B': '150206', '20-中信证券': '600030', '21-海通证券': '600837', '22-西部证券': '002673', '23-第一创业': '002797', '2A----万科A': '000002', '2B-保利地产': '600048', '2C---雅戈尔': '600177', '2D-小商品城': '600415', '30-网宿科技': '300017', '31---乐视网': '300104', '32---欧菲光': '002456', '33-苏宁云商': '002024', '3A-恒生电子': '600570', '3B-绵石投资': '000609', '3C-东吴证券': '601555', '3D---世联行': '002285', '3E-东方财富': '300059', '40-汇金股份': '300368', '41---同花顺': '300033'}

In [37]:
codese = Series(codes)

In [38]:
codese

01-----上指        sh
02-----深指        sz
03-----创指       cyb
10--创业板B     150153
11--网金融B     150332
12--互联网B     150195
13----煤炭B    150290
14----钢铁B    150228
15----有色B    150197
15---同花顺     300033
16----白酒B    150270
17----食品B    150199
18----医药B    150131
19----证券B    150172
1A--房地产B     150118
1B--国企改B     150210
1C--新能车B     150212
1D----国防B    150206
20-中信证券      600030
21-海通证券      600837
22-西部证券      002673
23-第一创业      002797
2A----万科A    000002
2B-保利地产      600048
2C---雅戈尔     600177
2D-小商品城      600415
30-网宿科技      300017
31---乐视网     300104
32---欧菲光     002456
33-苏宁云商      002024
3A-恒生电子      600570
3B-绵石投资      000609
3C-东吴证券      601555
3D---世联行     002285
3E-东方财富      300059
40-汇金股份      300368
dtype: object